<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/previous_trips_style_sheets.css">
    <title>| Reviews</title>
</head>

<body>
    <form action="" method="" class="grid-container" onsubmit="return false;">
        <div class="item1">
            <h1>Explore U.S. National Parks</h1>
        </div>
        <div class="item2">
            <ul>
                <li><a href="/logout2Home">Home Page</a></li>
                <!--<li><a href="/welcome">Discover a National Park</a></li>-->
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <div class="item3">
            <h2>U.S. National Park Reviews</h2>
        </div>
        <div class="item4">
            <ul>
                <li><%= data %></li>
            </ul>
        </div>
    </form>
</body>

</html>